{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    ["import", {
      "libraryName": "antd-mobile",
      "style": "css"
    }],
    "syntax-dynamic-import",
    "transform-runtime"
  ]
}
